 <div class="row">
	<div class="col-lg-12" style="">
	<div class="table-responsive project-list">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                    	<img src="~/Images/Sample/amazon.png"/>
                                    </td>
                                    <td>
                                        7-14 Days delivery
					<br/>
					EMI: Available
                                    </td>
                                    <td><h4 class="font-extra-bold text-success">$280,200</h4>

                                        <small>Free Shipping</small></td>
                                    
                                    <td><a href="" class="btn btn-danger">Buy on store</a></td>
                                </tr>
				 <tr>
                                    <td>
                                    	<img src="~/Images/Sample/amazon.png"/>
                                    </td>
                                    <td>
                                        7-14 Days delivery
									<br/>
									EMI: Available
                                    </td>
                                    <td><h4 class="font-extra-bold text-success">$280,200</h4>

                                        <small>Free Shipping</small></td>
                                    
                                    <td><a href="" class="btn btn-danger">Buy on store</a></td>
                                </tr>
				 <tr>
                                    <td>
                                    	<img src="~/Images/Sample/amazon.png"/>
                                    </td>
                                    <td>
                                        7-14 Days delivery
									<br/>
									EMI: Available
                                    </td>
                                    <td><h4 class="font-extra-bold text-success">$280,200</h4>

                                        <small>Free Shipping</small></td>
                                    
                                    <td><a href="" class="btn btn-danger">Buy on store</a></td>
                                </tr>
				 <tr>
                                    <td>
                                    	<img src="~/Images/Sample/amazon.png"/>
                                    </td>
                                    <td>
                                        7-14 Days delivery
									<br/>
									EMI: Available
                                    </td>
                                    <td><h4 class="font-extra-bold text-success">$280,200</h4>
                                    </td>
                                    
                                    <td><a href="" class="btn btn-danger">Buy on store</a></td>
                                </tr>	
                            </tbody>
                        </table>
                    </div>
</div>
</div>