
<div class="hpanel  panel panel-default ">
	<div class="panel-body" style="padding:0px">
		<a href="#">

		<div onclick="RemoveWhite()" class="objectControl">
						
				<img style="width:50px;height:50px;" class="squareimage-fit1" src="~/Images/Sample/facewash.jpg" />

					</div>	
				<div onclick="clearFilters()" class="objectControl">
						
				<img style="width:50px;height:50px;"  class="squareimage-fit1" src="~/Images/Sample/facewash.jpg" />

					</div>
			</a>
	</div>

</div>
