<div class="hpanel  panel panel-default ">
	<div class="panel-body" style="padding:0px">
		<button data-toggle="button" onclick="removeSelected()" class=" btn btn-primary btn-xs" type="button">
			<i class="fa fa-cross"></i> Remove</button>
			<button data-toggle="button" onclick="Flip()" class=" btn btn-primary btn-xs" type="button">
						<i class="fa fa-thumbs-down"></i> Flip()
					</button>	
				<button data-toggle="button" onclick="Flop()" class=" btn btn-primary btn-xs" type="button">
						<i class="fa fa-thumbs-down"></i> Flop()
					</button>
				<button data-toggle="button" onclick="RotateRight()" class=" btn btn-primary btn-xs" type="button">
						<i class="fa fa-thumbs-down"></i> RotateRight
					</button>
				<button data-toggle="button" onclick="RotateLeft()" class=" btn btn-primary btn-xs" type="button">
						<i class="fa fa-thumbs-down"></i> RotateLeft
					</button>

				<button data-toggle="button" onclick="Clone()" class=" btn btn-primary btn-xs" type="button">
						<i class="fa fa-thumbs-down"></i> Clone()
					</button>
				<button data-toggle="button" onclick="SendForward()" class=" btn btn-primary btn-xs" type="button">
						<i class="fa fa-thumbs-down"></i> SendForward
					</button>
				<button data-toggle="button" onclick="SendBackward()" class=" btn btn-primary btn-xs" type="button">
						<i class="fa fa-thumbs-down"></i> SendBackward
					</button>
	</div>

</div>
