<div class="hpanel  panel panel-default ">
	<div class="panel-body" style="padding:2px">
		<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="removeSelected()" class="btn btn-default" title="Remove">
						<i class="fa fa-remove"></i> 
				</a>
			</div>	
			<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="Flip()" class="btn btn-default" title="Flip">
						<i class="fa fa-arrows-h"></i> 
				</a>
			</div>	
			<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="Flop()" class="btn btn-default" title="Flop">
						<i class="fa fa-arrows-v"></i> 
				</a>
			</div>
		<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="RotateRight()" class="btn btn-default" title="Rotate right">
						<i class="fa fa-rotate-right"></i> 
				</a>
			</div>
		<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="RotateLeft()" class="btn btn-default" title="Rotate left">
						<i class="fa fa-rotate-left"></i> 
				</a>
			</div>
		<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="Clone()" class="btn btn-default" title="Clone">
						<i class="fa fa-clone"></i> 
				</a>
			</div>
		<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="SendForward()" class="btn btn-default" title="Bring forward">
						<i class="fa fa-sign-out"></i> 
				</a>
			</div>
		<div class="col-lg-2" style="margin:0px;padding:1px;width: inherit;">
			<a href="#" onclick="SendBackward()" class="btn btn-default" title="Send Backward">
						<i class="fa fa-sign-in"></i> 
				</a>
			</div>
			</div>
		
	</div>

