
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel-body">
                    <h4 class="m-t-none m-b-none">General questions</h4>
				<div class="pull-right">
                        	<a href="#" class="btn btn-sm btn-danger">Ask A Question Now</a></div>
                    <small class="text-muted">All general questions about our app.</small>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q1" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        Where can I purchase Homer theme ?
                    </a>
                    <div id="q1" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q2" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        Q. Many desktop publishing packages ?
                    </a>
                    <div id="q2" class="panel-collapse collapse">
                        <hr>
					<div class="col-1">
					<div class="vote-actions">
						<a href="#">
							<i class="fa fa-chevron-up"></i>
						</a>
						<div>15</div>
						<a href="#">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
				<div class="col-11">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
					<br/>
					<small class="text-muted">by Ajit Deshmukh on 05th Jul, 2017</small>
						</div>
				<hr>
					<div class="col-1">
					<div class="vote-actions">
						<a href="#">
							<i class="fa fa-chevron-up"></i>
						</a>
						<div>15</div>
						<a href="#">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
				<div class="col-11">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
					<br/>
					<small class="text-muted">by Ajit Deshmukh on 05th Jul, 2017</small>
						<br/> <div class="m-t-md">
                                                <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                                <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                                <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Write Answer</a>
                                            </div>
						</div>	
					
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q3" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        Lorem Ipsum available, but the majority have ?
                    </a>
                    <div id="q3" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q4" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        The generated Lorem Ipsum is therefore always ?
                    </a>
                    <div id="q4" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q5" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        College in Virginia, looked up one of ?
                    </a>
                    <div id="q5" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q6" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        Lorem Ipsum is simply dummy ?
                    </a>
                    <div id="q6" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q7" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        The standard chunk of Lorem Ipsum used since ?
                    </a>
                    <div id="q7" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q8" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        Many desktop publishing ?
                    </a>
                    <div id="q8" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q9" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        Cicero are also reproduced in their exact original form, accompanied ?
                    </a>
                    <div id="q9" class="panel-collapse collapse">
                        <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </div>
                </div>
            </div>
        </div>
	</div>
