<div class="hpanel blog-box ">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="~/Images/a1.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <small>Created by: <span class="font-bold">Mark Word</span> </small>
                            <br />
                            <small class="text-muted">22.04.2015, 10:15 pm</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="@Url.Action("BlogArticle", "AppViews")"> <h5>Many desktop publishing packages</h5></a><input id="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" data-size="xxs" value="3.6" data-readonly="true" data-show-clear="false">
							
                    <p>
                        Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
                    <a href="@Url.Action("BlogArticle", "AppViews")" class="btn btn-primary btn-xs">Read more</a>
                </div>
                <div class="panel-footer">
                    <span class="pull-right">
                        <i class="fa fa-comments-o"> </i> 56 comments
                    </span>
                    <i class="fa fa-eye"> </i> 144 views
                </div>
            </div>
