<div class="hpanel  panel panel-default ">
    <div class="panel-body" style="padding:0px">
        <div class="hpanel hbgyellow"  style="margin:0px">
			<div class="panel-body">
				<div class="text-center">
                        <h3>Ask for reviews</h3>
                        <p class="text-big font-light">
                           	<i class="fa fa-hand-paper-o font-light"></i> 
                        </p>
                        <small>
                            Do you need reviews from community members? Now you can request member for reviews. Believe me its worth a try.
                        </small>
				</div>
			</div>
		</div>
		 <div class="hpanel hbgred"  style="margin:0px">
			<div class="panel-body">
				<div class="text-center">
                        <h3>Review Now</h3>
                        <p class="text-big font-light">
                           	<i class="fa fa-plus font-light"></i> 
                        </p>
                        <small>
                            Do you know about it? Reviews now for other community members.
                        </small>
				</div>
			</div>
		</div>
    </div></div>
